<div class="centrino" class="fonter">
<%= link_to "For Interns", internships_path(@internships), data: {turbo_method: :delete}, class: "fonter" %>
<%= link_to "For Employers", new_internship_path, data: {turbo_method: :delete}, class: "fonter" %>
</div>
